# Composer
/vendor/
composer.phar
.output.txt

# IDE - PhpStorm / IntelliJ IDEA
/.idea/

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor temporary files
*~
*.swp
*.swo

# Node
/node_modules/
/build/
/dist/
package-lock.json

*storybook.log
storybook-static
