.wp-block-wp-plugin-boilerplate-author-presentation {
	&.sb-addon {
		border: 1px dashed #ccc;
		padding: 10px;

		.sb-addon-img {
			background: #f0f0f0;
			min-height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}
